@model Vidly.ViewModels.MovieGenreVM
@{
    ViewBag.Title = "Movie Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.MovieName</h2>
<p>@Model.Description</p>
<ul>
    <li>Genre: @Model.Genre.GenreName</li>
    <li>Release Date: @(Model.ReleaseDate != null ? @Model.ReleaseDate.Value.ToString("dddd, MMMM d, yyyy") : "-")</li>
    <li>Date Added: @(Model.DateAdded != null ? Model.DateAdded.Value.ToString("dddd, MMMM d, yyyy") : "-")</li>
    <li>Number In Stock: @Model.NumberInStock</li>
</ul>

